.container--orange-red {
  background: $orange-red;
}

@media (max-width: 767px) {
  .container--orange-red {
    min-height: 274px;
    padding-top: 38px;

    &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 38px;
      width: 38px;
      height: 38px;
      display: block;
      background-image: url(../images/mobile/elips-two.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 48px;
      width: 18px;
      height: 15px;
      display: block;
      background-image: url(../images/mobile/heart-two.png);
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }
}

@media (min-width: 768px) {
  .container--orange-red {
    min-width: 70%;
  }
}
