$paliviolet: #fc5095;
$white: #ffffff;
$grey: #3b3b3b;
$section-background: #f6f5f5;
$yellow: #fcc150;
$orange-red: #fc8950;
$blue: #1da7c0;
$border-btn: #d3d3d3;

$OpenSans: "Open Sans";

$gradient-paliviolet: linear-gradient(
  rgba(0, 0, 0, 0),
  rgba(252, 80, 149, 0.25)
);
$gradient-yellow: linear-gradient(rgba(0, 0, 0, 0), rgba(252, 193, 80, 0.25));

$gradient-orange-red: linear-gradient(
  rgba(0, 0, 0, 0),
  rgba(252, 137, 80, 0.25)
);
$gradient-blue: linear-gradient(rgba(0, 0, 0, 0), rgba(29, 167, 192, 0.25));

$girl-mobile: url("../images/mobile/girl-mobile.jpg");
$girl-desc: url("../images/desctop/girl.jpg");
