.start {
  background: $section-background;
}

@media (max-width: 767px) {
  .start {
    min-height: 640px;
    background: $section-background;
  }
}

@media (min-width: 768px) {
  .start {
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
  }
}
